# Ignore everything
*

# But not these files...
!.gitignore
!*.R
!*.Rmd
!template.latex
!*.py
!*.ipynb
!*.md
!*.sh
!literature/*/*.pdf
!requirements.txt
!src/**/*
!pages/**/*
!data/01_raw/**/*
!data/02_processed/.gitkeep

# ...even if they are in subdirectories
!*/
notebooks/**/* 
venv*
env*
build*
legacy*
**/__pycache__
data/01_raw/legal_lookup.pkl
data/01_raw/raw_concepts.csv
